/build
/.idea
/.gradle
/build.gradle.kts
/gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle.kts
/app/src/androidTest
/app/src/main/kotlin/com/example/kotlinhomework
/app/src/main/res


