/build
/.idea
/.gradle
/build.gradle.kts
/gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle.kts
/Users/uliana/KotlinHomework/app/src/androidTest
/Users/uliana/KotlinHomework/app/src/main/kotlin/com/example/kotlinhomework
/Users/uliana/KotlinHomework/app/src/main/res
/.SecondModule